:root{
    --color-primary:#1DA599;
    --color-third:#C1FFFA;
    --color-secondary:#FFC265;
    --color-secondary-transparent:rgba(255, 194, 101,.5);
    --color-tersier:#4A4A4A;
}
.button-container-galery{
    position: relative;
}
.btn-galery{
    border: none;
    background-color: rgba(29, 165, 153,.6);
    position: absolute;
    bottom: 70px;
    left: 50%;
    z-index: 12;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
nav{
    display: flex;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-between;
}
.d-none{
    display: none;
}
.menu li:hover{
    color: var(--color-secondary);
}
.menu li{
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}
.list-white{
    color: #fff;
    transition: all .7s;
}
.home{
    color: var(--color-secondary);
}
.humberger-menu{
    display: none;
}  
.btn-primary{
    cursor: pointer;
    padding: 12px 27px;
    border: none;
    border-radius: 9px;
    background-color: var(--color-secondary);
} 
.hero{
    display: flex;
    justify-content: space-around;
    margin: 12px 20px;
}
.number1{
    background-color: var(--color-third);
    color: var(--color-primary);
    display: inline;
    border-radius: 9px;
    padding: 3px 14px;
}
.left h2{
    line-height: 140%;
    /* font-weight: 900; */
    font-size: 2rem;
    text-transform: capitalize;

}
.right img{
    width: 29vw;
}
.about-us-img img{
    width: 406px;
}
.about-us-container{
    display: flex;
    justify-content: space-around;
    padding: 25px 235px;
}
.about-us-lists{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-us-lists h2{
    font-size: 3rem;
}
.about-us-lists ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.about-us-lists p{
    width: 400px;
}
h2{
    color: var(--color-tersier);
}
.package-container h2,
.fasility-container h2,
.galery-container h2{
    font-size: 3em;
}
.fasility-container{
    padding: 45px 200px;
}
.fasility-container h2,
.fasility-container p,
.galery-container h2,
.galery-container p{
    text-align: center;
    padding-top: 6px;
}
.package-container{
    text-align: center;
}
.package-container p {
    font-size: 20px;
}
.card-header{
    display: flex;
    flex-flow: column wrap;
    gap: 9px;
}
.card-header img{
    width: 311px;
    
}
.card-packages-container{
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
    margin-top: 20px;
    gap: 18px;
    flex-flow: row wrap;
}
.span-primary{
    color: var(--color-primary);
}
.facilities{
    display: flex;
    flex-flow: wrap column;
    gap: 6px;
}
.badge-content{
    background-color: var(--color-third);
    color: var(--color-primary);
    border-radius: 9px;
    padding: 5px 15px

}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.badge-card{
    position: relative;;
    display: flex;
    justify-content: space-between;
}
.level-package{
    color: var(--color-secondary);
}
.soon{
    color: var(--color-primary);
    font-size: 20px;
    padding: 0px 56px;
}
.preview-btn{
    padding: 15px 18px;
    border-radius: 9px;
    padding-top: 12px;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    cursor: pointer;
    transition: all .9s;
}
.preview-btn:hover{
    color: #000;
    background-color: var(--color-secondary);
}
.star-icon{
    color: yellow;
}
.sponsorship-container{
    margin: 19px 160px;
    margin-bottom: 50px;
    display: flex;
    gap: 56px;
    overflow-x: auto;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.fasility-card-container{
    padding-top: 30px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.gap{
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}
.fasility-card-container .card{
    width: 200px;
}
.testimonial-container{
    margin: 12px 200px;
}
.testimonial-container h2{
    text-align: end;
    font-size: 3em;
}
.testi-card-container-1,
.testi-card-container-2{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
}
.galery-container{
    
    padding: 50px 0px;
}
footer{
    background-color: var(--color-primary);
    color: #fff;
}
.footer-logo{
    width: 200px;
}
.footer-container{
    display: flex;
    padding: 15px 60px;
    /* gap: 200px; */
    border-width: 90px;
    border-bottom: 2px solid #fff;
}
.footer-links{
    display: flex;
    padding: 20px 0px;
    width: 100%;
    gap: 10px;
    justify-content: space-around;
}
.footer-end{
    padding: 15px 90px;
}
.links-container{
    list-style: none;
}
.images-galery-container{
    display: flex;
    flex-direction: row;
}
.img-galery{
    width: 410px;
    height: 450px;
}
/* responsive */
@media screen and (max-width:800px) {
    .images-galery-container{
        flex-direction: column;
    }
    
    .img-galery,
    .testi-card-container-1 img,
    .testi-card-container-2 img{
        width: 100%;
    }
    .testi-card-container-1,
    .testi-card-container-2{
        width: 200px;
        flex-flow: column;
    }
    .fasility-card-container .card{
        width: 200px;
    }
    .row{
        flex-direction: column;
    }
    .fasility-container h2{
        font-size: 2em;
    }
    .sponsorship-container{
        margin: 19px 0px;
    }
    .card-packages-container img{
        width: 400px;
    }
    .card-packages-container{
        padding: 12px 0;
        justify-content: center;
    }
    .package-container{
        font-size: 10px;
    }
    .about-us-container{
        flex-direction: column;
        justify-content: center;
        padding: 12px 19px;
        margin: 0;
    }
    h2{
        font-size: 19px;
    }
    .right img{
        width: 100%;
    }
    .hero{
        flex-direction: column-reverse;
        gap: 10px;
    }
    nav{
        position: absolute !important;
    }
    nav,
    .menu{
        position: relative;
        justify-content: space-evenly;
        background-color: var(--color-secondary);
        gap: 10px;
        flex-direction: column;
        transform: translateX(-100vw);
        transition: all .7s;
        height: 100vh;
    }
    button:hover,.menu li:hover{
        color: #fff;
    }
    nav.active,
    .menu.active{
        transform: translateX(0);

    }
    .humberger-menu{
        display: block;
        position: absolute;
        right: 12px;
        top: 13px;
        font-size: 25px;
        z-index: 13;
        cursor: pointer;
    }
}